[Unit]
Description=Python Proxy Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=cleanup.sh
ExecStart=/usr/bin/docker run -d --name python-proxy -p 8080:8080 --restart=unless-stopped python-proxy
ExecStop=/usr/bin/docker stop -t 2 python-proxy

[Install]
WantedBy=multi-user.target
