<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <h1>Welcome!</h1><h1>Bienbenido!</h1>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <a href="/change_password">Change Password</a>
    <a href="/change_email">Change Email</a><br>
    <a href="/delete_account">Delete Account</a><br>
    <h2>Si puedes ver este sitio espero que tengas un buen dia! :D</h2>
</body>

</html>
